@import url('https://fonts.googleapis.com/css?family=Abel');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #83c9cc;
    max-width: 100vw;
}

main{
    display: flex;
    justify-content: center;
}
main .calculator-body{
    height: 40rem;
    width: 30rem;
    background-color: #4e5261;
    position: relative;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 2px 1px 7px 11px #313131;
}

.calculator-body .calculation-screen{
    height: 10rem;
    background-color: #cfcdcd;
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.calculation-screen .operation-line{
    font-size: 2.1em;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
}
.calculation-screen .user-input-and-result-line{
    font-size: 3em;
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
}

.calculator-body .calculator-buttons{
    position: absolute;
    top: 12rem;
    left: 1.5rem;
    right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    row-gap: 35px;
}

.calculator-buttons .clear{
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 3;
}
.calculator-buttons .delete{
    background-color: #ee7f7f;
    grid-column-start: 3;
    grid-column-end: 5;
}
.calculator-buttons .clear, .calculator-buttons .delete{
    font-size: 1.5em;
    font-family: 'Abel';
    font-weight: 800;
    text-align: center;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 3px 3px #313131;
}
.calculator-buttons .clear:hover, .calculator-buttons .delete:hover{
    cursor: default;
    transform: scale(1.05);
}
.calculator-buttons .clear:active, .calculator-buttons .delete:active{
    transform: scale(0.95);
    box-shadow: none;
}

.calculator-buttons button{
    font-size: 1.5em;
    font-family: 'Abel';
    font-weight: 800;
    height: 3.5rem;
    border-radius: 10px;
    box-shadow: 4px 3px 3px #313131;
}
.calculator-buttons button:hover{
    transform: scale(1.05);
    
}
.calculator-buttons button:active{
    transform: scale(0.95);
    box-shadow: none;
}